.home{
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-description{
    width: 720px;
    height: 551px;
    padding: 67px 0 67px 100px;
}

.container-description h2{
    font-size: 50px;
    font-weight: 700;
    line-height: 89px;
    text-align: left;

}

.container-description a {
    font-size: 1.25rem;
    background: linear-gradient(214.02deg, #EA5F5F 6.04%, #EEAA55 92.95%);
    padding: 10px 20px ;
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

.container-img{
    position: relative;
}

.container-description p{
    font-size: 20px;
    font-style: normal;
    line-height: 36px;
    margin-bottom: 30px;
    color: darkgray;
}

.img-efeito1{
    position: absolute;
    left: -4px;
}

.img-efeito2{
    position: absolute;
    bottom: 0;
    right: -10px;
}

.home .img-eu{
    position: relative;
    z-index: 2;
    width: 500px;
    border-radius: 50%;
    background-color: black;
}


.home img::before{
    content: "";
    position: relative;
    left: 50px;
    background-image: url(../../assets/Titik-titik.png);
    width: 225px;
    height: 225px;
}

@media (max-width: 1024px){
    

    
    .container-description p{
        font-size: 15px;
    }

    .container-description h2{
        font-size: 39px;
    }
}


@media (max-width: 991px){

    .container-description{
        padding: 67px 0 67px 36px;
    }

    .container-description h2{
        font-size: 1.25rem;
        line-height: 15px;
    }

    .container-description p {
        line-height: 31px;
    }

    .img-efeito2{
        width: 178px;
        right: -2px;
    }

    
    .img-efeito1{
        width: 178px;
    }

}

@media (max-width: 768px){
    .home{
        margin-top: 5rem;
        margin-bottom: 10rem;
        flex-direction: column;
    }

    .container-description{
        padding: 0px 0 67px 0px;
        text-align: center;
    }

    .container-description h2{
        margin: 25px 0;
        text-align: center;
        font-size: 1.85rem;
        line-height: 40px;
    }

    .container-description p {
        font-size: 15px;
    }

    
}

@media (max-width: 425px){
    
    .container-description {
        width: 100%;
    }

    .container-description p {
        line-height: 26px;
    }

   

}