footer{
    line-height: 2rem;
}

.container-footer {
    width: 56%;
    height: 478px;
    margin: auto;
    text-align: center;
    margin-top: 8rem;
    padding: 0 25px;
}

.letter{
    background: linear-gradient(214.02deg, #EA5F5F 6.04%, #EEAA55 92.95%);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle();
    margin: auto;
    margin-bottom: 20px;

    font-weight: 700;
    color: #fff;
    font-size: 40px;
}

footer p{
    color: darkgray;
}

footer i {
    font-size: 45px;
}

footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 3rem;
}

footer a{
    color: #8b8ea0;
}

dl, ol, ul {
    margin-bottom: 0;
}

ol, ul {
    padding-left: 0;
}



@media (max-width: 425px){


    .container-footer {
        width: 100%;
  
    }

 
}